*{
	scroll-behavior: smooth;
	font-family: 'Roboto Slab', serif;
}

#home-landing{
	/*background-color: #333;*/
	color: #fff;
	padding: 20%;
	background-image: url(../images/home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.item-img{
	background-size: cover;
}

#navbar{
	background-color: #333333;
}

#carousel-home{
	height: 100vh;
}

#carousel-home img{
	height: 100vh;
	max-height: 100vh;
}

#home-landing > h1{
    text-shadow: 1px 1px 1px #000000;
}
#home-landing > p{
  text-shadow: 1px 1px 1px #000000;
}

#home-landing > hr{
  text-shadow: 1px 1px 1px #000000;	
}

.bg-4{ 
    background-color: #333333;
    color: #ffffff;
}

#services{
	height: 100vh;
	padding-top: 80px;
	background: url(../images/services-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.card-img-top{
	border-bottom: 1px solid black;
	height: 300px;
	width: 100%; 
	background-color: white;
	opacity: .6;
}

.card-img-top:hover{
	opacity: 1;
}

.card
{
	border: 1px solid black;
	background-color:rgba(0,0,0,0.3);
}

.card-body{
	/*background-color: black; */
	/*background-color:rgba(0,0,255,0.1);*/
}

.card-title{
	color: white;

}
 .card-text{
 	color: white;
 }

#about-us > h4{
	text-shadow: 1px 1px 1px #000000;
}

#about-us > p{
	text-shadow: 1px 1px 1px #000000;	
}
#about-us > hr{
	color: white;
	text-shadow: 1px 1px 1px #000000;	
}


.footer{
	/*padding: 10px;*/
}

#about-us{
	padding: 10px;
	background: url(../images/about-us.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.about-container{
	background-color: rgba(0,0,0,0.2);	
	color: white;
}

#contact-us{
	height: 100vh;
	padding: 10px;
	background: url(../images/contact.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.contact-container{
	background-color: rgba(0,0,0,0.2);	
	color: white;
}

.embed-responsive{
	border: 1px solid black;
}

.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}




/*TIMELINE*/

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

*{
	scroll-behavior: smooth;
	font-family: 'Roboto Slab', serif;
	padding: 0;
	margin: 0;
}

.main-nav
{
	padding: 10px;
	background-color: #333333;;
	color: #f9f9f9;
	/*height: 130px;*/
}

body{
	background-color: #E8E8E8;	
}

#container-main
{
	/*background-color: white;*/
	
}
.offer-container
{
	background-color: white;
	border-radius: .5%;
}


.container-fluid{
	margin-top: 10px;
	background-color: #E8E8E8;	
	padding-left: 40px;
	padding-right: 40px;

}


#footer-container{
	padding: 20px;
	background-color: #333333;;
	color: #f9f9f9;
}

.navbar > ul
{
	font-size: 20px;
	
}
.navbar > ul > li > a{
	color: #f9f9f9;
}

.navbar > ul > li > a:hover{
	font-size: 21px;
}

.carousel-inner > .carousel-item > img {
  width:100%;
  height:360px;
  /*border: 1px solid black;*/
}

.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 15px;
    height: 15px;
    /*background-color: #ffff99;*/
}

.sticky > .row
{
	padding: 5px;
}

#offer > div
{
	/*border: 1px solid black;*/
	padding: 5px;
	
	/*width: 20%;*/
}

#offer > div > img
{
	height: 200px;
	width: 100%;
	border-radius: 1%;

}

/*#offer > div > img:hover
{
	height: 220px;
	width: 100%;

}*/

.offer-container
{
	margin: 20px 20px 0px 20px;
}
.row{
	margin-left: 0;
	margin-right: 0;
}

#back-top > h5{
	font-size: 25px;
}

#back-top{
	background-color: rgba(51,51,51,.9);
	color: #f9f9f9;

}

#back-top:hover{
	background-color: rgba(35,47,62,1);
	color: #f9f9f9;
	text-decoration: none;
}

#top:hover, a:visited, a:link, a:active, h1
{
    text-decoration: none;
}

#footer-container > div > div > ul > a > li{
	margin-bottom: 2px;
	opacity: .9;
	text-align: center;
	color: white;
	font-size: 18px;
}

#footer-container > div > div > ul > a > li:hover{
	opacity: 1;		
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
}

#test1{
	display: none;
}

#picx1:hover #title{

	display: block;
}

#thumbnail {
	display: block;

	width: 150px;
	height: 150px;
}

#thumbnail:hover + #title {
	display: block;
}

#title {
	display: none;
	color: #ffffff;
	background-color: #000000;
  	text-align: center;
  	width: 130px;
	padding: 10px;
}